[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
openpyxl = "*"
weasyprint = "*"
django-storages = "*"
google-cloud-storage = "*"
sentry-sdk = "*"
django-widget-tweaks = "*"
pytest = "*"
pytest-django = "*"
freezegun = "*"

[dev-packages]

[requires]
python_version = "3.12"
