# components/_bottom_nav.html
{% load i18n %}
<nav class="bg-white border-t">
  <div class="grid grid-cols-5 text-xs">
    <a href="{% url 'home_feed' %}" class="py-2 text-center hover:bg-gray-50">{% trans "Home" %}</a>
    <a href="{% url 'inventory_search' %}" class="py-2 text-center hover:bg-gray-50">{% trans "Search" %}</a>
    <a href="{% url 'product_create' %}" class="py-2 text-center font-semibold bg-black text-white">{% trans "Add" %}</a>
    <a href="{% url 'owner_dashboard' %}" class="py-2 text-center hover:bg-gray-50">{% trans "Reports" %}</a>
    <a href="{% url 'account_dashboard' %}" class="py-2 text-center hover:bg-gray-50">{% trans "Account" %}</a>
  </div>
</nav>
